body {
  /* font-size: 18px; */

  font-family: "Open Sans", sans-serif;

  font-weight: 700;
}

/********************** 

    CSS For Headings And Text

***********************/

.heading-texts {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 40px;
}

.p-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

/********************** 

    HERO CSS

***********************/

.hero-container {
  /* Set bacgrkound image to fit the size of div */
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: cover;

  /* overlay on hero */
  background-color: #ecfcfe;
}

/********************** 
    
    NAV IN HERO IMAGE 

***********************/

.hero-nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  /* create space between nav container and top of page */
  padding-top: 38px;

  /* border: 1px solid navy; */
}

#huddle-logo {
    /* move logo right */
    margin-left: 7vh;
    /* border: 1px solid black; */
}

.try-it-button {
  /* button code */
  box-shadow: inset 0px 0px 50px 30px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  background-color: #ffffff;
  border-radius: 27px;
  border: 2px solid #dcdcdc;

  /* button dimensions */
  padding: 19px 61px;

  /* Button position */
  margin-left: auto;
  margin-right: 7vh;

  /* font */
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

/********************** 
    
    TEXT FOR HERO IMAGE 

***********************/

.hero-build-community {
  margin-top: 70px;

  /* create flex container */
  display: flex;
  justify-content: center;
  /* center itmes vertically */
  align-items: center;

  /* border: 2px solid blue; */
}

#mockups-image {
  width: 850px;
  margin-bottom: 60px;

  /* border: 2px solid black; */
}

.community-text {
  height: 400px;

  display: flex;
  flex-direction: column;
  /* justify-content: s */

  margin-top: 30px;
  margin-right: 70px;

  /* border: 2px solid purple; */
}

.community-text > h1 {
  font-size: 50px;

  /* border: 2px solid black; */
}

.community-text > p {
  margin-top: 40px;

  font-size: 24px;
  line-height: 35px;

  /* border: 2px solid yellow; */
}

.get-started-button-1 {
  background-color: hsl(322, 100%, 66%);
  border-radius: 28px;
  /* border:1px solid #18ab29; */
  display: inline-block;
  color: #ffffff;
  /* font-family:Arial; */
  font-size: 17px;
  padding: 20px 76px;
  text-decoration: none;

  margin-top: 30px;
}

/********************** 

    BEGINNING OF MAIN 

***********************/

main {
  /* border: 3px solid green; */
  /* Push away from Below Hero Image */
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/********************** 

    Starter CSS For Each Card

***********************/

.card {
  /* dimensions of cards */
  width: 85%;
  height: 490px;

  /* Box Model for cards */
  margin-top: 30px;

  /* shadow for box */
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-text {
  /* border: 1px solid green; */

  /* Size for div containing text */
  height: 250px;
  width: 600px;

  /* Spacing of box  */
  margin-left: 15%;
  margin-top: 60px;
}

.card-text p {
  /* Spacing of box  */
  margin-top: 20px;

  line-height: 35px;
}

.card-img {
  width: 550px;
  height: 400px;

  margin-right: 4%;
}

/********************** 

    CSS For Image First Card

***********************/

.card-reverse {
  /* dimensions of cards */
  width: 85%;
  height: 490px;

  /* Box Model for cards, pushes previous card up */
  margin-top: 30px;

  /* shadow for box */
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-around;
  align-items: center;

}

/* TODO Is it better to use px, % , or em? */
.card-reverse-img {
  /* border: 1px solid blue; */

  /* image dimesnions */
  width: 550px;
  height: 400px;

  /* box model */
  padding-left: 70px;
  /* margin-right: 90px;
  margin-left: 7%; */
}

.card-reverse-text {
  /* border: 1px solid green; */

  /* Size for div containing text */
  height: 250px;
  width: 600px;

  /* Spacing of box  */
  padding-left: 40px;

  
}

.card-reverse-text p {
  /* border: 1px solid blue; */
  
  /* Spacing of box  */
  margin-top: 20px;

  line-height: 35px;
}

/********************** 

    FOOTER CSS

***********************/

#footer {
  /* colors */
  background-color: hsl(192, 100%, 9%);
  color: white;

  /* box model */
  padding: 5em 0px;
  margin-top: 70px;

  /* flex Container */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */

}

.icon-column {

  border: 1px solid green;

  /* dimensions */
  /* height: 14em; */
  width: 40em;

  /* box */
  /* margin-right: 2em; */
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.icon-column p{

  margin-bottom: 1.5em;

}
.icon-column p img{

  margin-right: 1.5em;

}

.column {
  border: 3px red solid;

  /* dimensions */
  width: 40em;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Box Model  */
  /* padding: 7em 0; */

}

.column-1 {
  border: 1px blue solid;

  /* dimensions */
  width: 400px;

  display: flex;
  justify-content: center;
  
  /* Box Model  */
  /* padding: 7em 0; */

}

.icon-column img {

  /* margin-bottom: 1em; */

  /* width: 1.2em; */


}

.text-column {

  border: 1px solid yellow;

  /* dimensions */
  /* height: 10em; */

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

}

.text-column p {

  /* margin-bottom: 1.6em; */

}

.column-text {
  
  /* dimensions */
  width: 14em;

  /* space between each text */
   border: 1px solid green;
   margin-top: 15px;


   display: flex;
   justify-content: space-between;
}


