.hero-container {

    /* Set bacgrkound image to fit the size of div */
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;

    background-color: #ecfcfe;

    /* Take up % of screen when loaded */
    height: 73vh;

    /* Create flex container */
    /* display: flex; */
    /* flex-direction: row; */

}

.hero-nav {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 38px;

    border: 1px solid navy;

}

.myButton {
	box-shadow:inset 0px 0px 50px 30px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	border-radius:27px;
    border:2px solid #dcdcdc;
    
    /* button dimensions */
    padding:19px 61px;

    /* font */
	color:#666666;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
    text-decoration:none;
    
    margin-left: auto;
}