body {
  Font-Size: 18px;
  font-family: [Open Sans](https://fonts.google.com/specimen/Open+Sans);
  font-weight: 400, 700;
}

.hero-container {
  /* Set bacgrkound image to fit the size of div */
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: cover;

  /* overlay on hero */
  background-color: #ecfcfe;

}

/********************** 
    
    NAV IN HERO IMAGE 

***********************/

.hero-nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  /* create space between nav container and top of page */
  padding-top: 38px;

  /* border: 1px solid navy; */
}

/* First image in navbar (logo) */
div img:nth-child(1) {
  /* move logo right */
  margin-left: 7vh;  
  /* border: 1px solid black; */
}

.try-it-button {
  box-shadow: inset 0px 0px 50px 30px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  border-radius: 27px;
  border: 2px solid #dcdcdc;

  /* button dimensions */
  padding: 19px 61px;

  /* Button position */
  margin-left: auto;
  margin-right: 7vh;

  /* font */
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

 
}

/********************** 
    
    TEXT FOR HERO IMAGE 

***********************/

.hero-build-community {

    margin-top: 70px;
    border: 2px solid blue;

    /* create flex container */
    display: flex;
    justify-content: space-around;
    /* center itmes vertically */
    align-items: center;


}

.community-text {

    width: 40%;
    height: 300px;
    border: 2px solid purple;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.community-text > h1 {

    width: 70%;
    font-size: 50px;

    border: 2px solid black;
}

.community-text > p {

    
    font-size: 24px;

    border: 2px solid yellow;
}

#mockups-image {
    width: 40%;
}